
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-flow: column;
    background-color: #fff6f6;
  }

.page {
    max-width: 700;
    margin-top: 0;
    overflow-X: "auto";
    margin: "auto";
    margin: 10px;
}


.paragraph {
    padding: 20px 0px;
}

/* Tableaux */
.table {
    min-width: 700;
    padding: 20px;
}

/* Champ cliquable */
.clickable:hover{
    cursor: pointer;
    background-color: #eaeaea;
    color: black;
}

.dd-aligned{
    display: flex;
    flex-flow: row;
}

/* Icones cliquables */
.material-icons {
    cursor: pointer;
    font-size: 2em;
}

/* Champs d'information */
.field{
    max-width: 200px;
    display: flex;
    justify-content: space-around;
}
.field-label{}
.field-value{}

/* Titres */
h1 {
    font-weight: normal
}
h2 {

}

h3 {
    
}

input {
    background-color: transparent;
    border-style: none;
    font-size: 1em;
}

input:focus {
    outline-style: none;
}