
.table {
    min-width: 700;
    padding: 20px;
}

.page {
    max-width: 700;
    margin-top: 0;
    overflow-X: "auto";
    margin: "auto";
    margin: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-flow: column;
  }

.paragraph {
    padding: 20px 0px;
}

.clickable:hover{
    cursor: pointer;
    background-color: #eaeaea;
    color: black;
}

.dd-aligned{
    display: flex;
    flex-flow: row;
}

h1 {

}

.field{
    max-width: 200px;
    display: flex;
    justify-content: space-around;
}
.field-label{}
.field-value{}