

.App-logo {
  height: 100px;
}

.App-header {
  text-align: left;
  background-color: #9b0000;
  color: white;
  padding: 10px;
  
}

.App-title {
  font-weight: bold
}

.App-intro {
  font-size: large;
}
